.bg-transparent {
    z-index: 20;
}

.navbar-nav {
    margin: auto;
}

.transparentnav {
    color: blue;
    background-color: rgba(169, 119, 107, 0.3);
    transition: 1.4s;
}

.blacknav {
    color: red;
    background-color: rgba(169, 119, 107, 1) !important;
    box-shadow: rgba(169, 119, 107, 0.29) 0px 18px 20px, rgba(169, 119, 107, 0.43) 0px 8px 6px;
    transition: 0.8s;
}

.nav-link {
    font-size: large;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.6);
    transition: 0.8s;
    border-bottom: rgba(255, 99, 71, 0) 2px solid;
}
.nav-link:hover {
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    transition: 0.2s;
    border-bottom: tomato 2px solid;
}